@import "_variables.styl"

.top 
    margin 0 auto
    height 100vh
    max-width content-width
    text-align center
    &__img
        margin 36vh auto 120px
    &__txt
        letter-spacing .2em
        line-height 2.4em
    

.main
    margin 0 auto 120px
    max-width content-width
.content
    margin 48px 0
    padding 72px 96px
    border-radius 16px
    line-height 24px
    display block
    position relative
    &__tag
        {font-style}
        font-size 20px
        letter-spacing .1em
    &__ttl
        font-size 26px
    &:first-child
        &:hover::after
            clip-path inset(0 calc(100% - 64px) calc(100% - 64px) 0)
            -webkit-clip-path inset(0 calc(100% - 64px) calc(100% - 64px) 0)
        &:hover::before
            clip-path inset(calc(100% - 64px) 0 0 calc(100% - 64px))
            -webkit-clip-path inset(calc(100% - 64px) 0 0 calc(100% - 64px))
    .link
        {font-style}
        background sub-color
        display inline-block
    p 
        text-align justify
    &::after
        border-left solid 1px txt-color
        border-top solid 1px txt-color
        border-radius 16px
        height 100%
        width 100%
        left 0
        top 0
        content ""
        display block
        position absolute
        transition all .7s cubic-bezier(0.55, 0.05, 0.22, 0.99)
        -webkit-transition all .7s cubic-bezier(0.55, 0.05, 0.22, 0.99)
        clip-path inset(0 calc(100% - 64px) calc(100% - 64px) 0)
        -webkit-clip-path inset(0 calc(100% - 64px) calc(100% - 64px) 0)
    &::before
        border-right solid 1px txt-color
        border-bottom solid 1px txt-color
        border-radius 16px
        height 100%
        width 100%
        left 0
        top 0
        content ""
        display block
        position absolute
        transition all .7s cubic-bezier(0.55, 0.05, 0.22, 0.99)
        -webkit-transition all .7s cubic-bezier(0.55, 0.05, 0.22, 0.99)
        clip-path inset(calc(100% - 64px) 0 0 calc(100% - 64px))
        -webkit-clip-path inset(calc(100% - 64px) 0 0 calc(100% - 64px))
    &:hover::after
        clip-path inset(0 0 0 0)
        -webkit-clip-path inset(0 0 0 0)
    &:hover::before
        clip-path inset(0 0 0 0)
        -webkit-clip-path inset(0 0 0 0)
    &:hover
        color txt-color
        .link
            color hover-color

+tb()
    .top
        margin 0 24px
        &__img
            width 50%
            margin 40vh auto 220px
        &__txt
            width 50%
            margin 0 auto

    .main
        margin 0 24px 120px
        width calc(100% - 48px)

+sp()
    .top
        &__img
            width 55%
        &__txt
            position absolute
            left 24px
            bottom 24px
            text-align justify

            margin 0
            width 60%
            line-height 1.8em
    .main
        margin 0
    .content
        width 100%
        margin 0
        padding 40px 24px
        border none 
        border-top 1px solid txt-color
        border-radius 0
        &__tag
            font-size 14px
        &__ttl
            font-size 22px
            margin 16px 0
        &__link
            { link }
            background sub-color
            display inline-block
            margin-top 16px
        &:last-child
            margin-bottom 80px
        &::after
            content none
        &::before
            content none