@import "_variables.styl"

.top 
    margin 0 auto
    height 100vh
    max-width content-width
    text-align center
    &__img
        margin 36vh auto 120px
    &__txt
        letter-spacing .2em
        line-height 2.4em
    

.main
    margin 0 auto 120px
    max-width content-width
.content
    margin 48px 0
    padding 72px 96px
    border 1px solid txt-color
    border-radius 16px
    line-height 24px
    display block
    &__tag
        {font-style}
        font-size 20px
        letter-spacing .1em
    &__ttl
        font-size 26px
    &__link
        {font-style}
    p 
        text-align justify

+tb()
    .top
        margin 0 24px
        &__img
            width 50%
            margin 40vh auto 220px
        &__txt
            width 50%
            margin 0 auto

    .main
        margin 0 24px 120px
        width calc(100% - 48px)

+sp()
    .top
        &__img
            width 55%
        &__txt
            position absolute
            left 24px
            bottom 24px
            text-align justify

            margin 0
            width 60%
            line-height 1.8em
    .main
        margin 0
    .content
        width 100%
        margin 0
        padding 40px 24px
        border none 
        border-top 1px solid txt-color
        border-radius 0
        &__tag
            font-size 14px
        &__ttl
            font-size 22px
            margin 16px 0
        &__link
            { link }
            background sub-color
            display inline-block
            margin-top 16px
        &:last-child
            margin-bottom 80px