html {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif, 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial;
  font-size: 14px;
  word-spacing: 1px;
  line-height: 21px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: #fff;
  color: #262626;
}
html.index,
html.index>body {
  overscroll-behavior: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body,
ul,
p {
  margin: 0;
}
a {
  text-decoration: none;
  transition: all 0.1s cubic-bezier(0.55, 0.05, 0.22, 0.99);
}
a:link,
a:visited,
a:active {
  color: #262626;
}
a:hover {
  color: #acacac;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
/* for debug */
.header {
  margin: 0 auto;
  width: calc(100% - 80px);
  padding: 0 40px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  color: #262626;
}
.logo {
  width: 80px;
}
.menu {
  list-style: none;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu li {
  max-width: 1120px;
  margin: 0 16px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  position: relative;
}
.menu li:last-child {
  margin: 0 0 0 16px;
}
.menu a.current::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 1px;
  background: #262626;
  position: absolute;
  left: calc(50% - 2px);
  bottom: -4px;
}
.menu-trigger,
.menu-trigger span {
  z-index: 101;
  display: inline-block;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 40px;
  height: 20px;
  display: none;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #262626;
  border-radius: 2px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
  animation: menu-bar01 0.75s forwards;
}
.menu-trigger span:nth-of-type(2) {
  bottom: 0;
  animation: menu-bar02 0.75s forwards;
  width: 65%;
}
.menu-trigger:not(.active):hover span:nth-of-type(2) {
  width: 65%;
}
.menu-trigger.active span:nth-of-type(1) {
  animation: active-menu-bar01 0.4s forwards;
  width: 100%;
}
.menu-trigger.active span:nth-of-type(2) {
  animation: active-menu-bar02 0.4s forwards;
  width: 100%;
}
.footer-container {
  width: 100%;
  background: #f4f4f4;
  color: #262626;
  padding: 0;
  border-top: 1px solid #262626;
  box-sizing: border-box;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer__part {
  border-right: 1px solid #262626;
  display: flex;
  flex-wrap: wrap;
}
.footer__part:first-child {
  flex-basis: calc(50% - 40px);
  padding: 16px 0 0 40px;
}
.footer__part:first-child .footer__part__txt {
  width: 50%;
}
.footer__part:nth-of-type(2) {
  flex-basis: calc(25% - 32px);
  padding: 16px 32px 0;
}
.footer span {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: block;
  flex-basis: 100%;
}
.footer h3 {
  font-size: 20px;
  margin: 24px 0;
}
.footer .copyright {
  border-top: 1px solid #262626;
  width: 100%;
  padding: 16px 40px;
}
.link {
  background: #fff;
  border-radius: 4px;
  padding: 14px 24px;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
  margin: 16px 0;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.link::after {
  background: #acacac;
  content: "";
  position: absolute;
  top: -50px;
  left: -180px;
  width: 120px;
  height: 155px;
  opacity: 0.1;
  transform: rotate(35deg);
  transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
}
.link:hover {
  color: #acacac;
}
.link:hover::after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.top-button {
  display: none;
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.55, 0.05, 0.22, 0.99);
}
.top-button.fade-in {
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.55, 0.05, 0.22, 0.99);
}
@media screen and (max-width: 1120px) {
  a:hover {
    color: #262626;
  }
  .header {
    height: 80px;
    padding: 0 24px;
    width: calc(100% - 48px);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(24px);
  }
  .logo {
    width: 80px;
  }
  .footer__part {
    border: none;
  }
  .footer__part:first-child {
    flex-basis: calc((100% - 48px) / 3 * 2);
    padding: 16px 0 0 24px;
    justify-content: flex-start;
  }
  .footer__part:first-child .footer__part__txt {
    width: calc((100% - 32px) / 2);
  }
  .footer__part:nth-of-type(2) {
    flex-basis: calc((100% - 48px) / 3);
    padding: 16px 24px 0 0;
  }
  .footer .copyright {
    padding: 16px 24px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
  }
  .menu-trigger {
    display: inline-block;
    position: fixed;
    top: 24px;
    right: 24px;
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: flex;
  }
  .menu ul {
    z-index: 1;
    flex-direction: column;
    position: fixed;
    width: 50%;
    height: 100%;
    background: #fff;
    top: 0;
    right: 0;
    padding: 120px 40px;
  }
  .menu li {
    letter-spacing: 0.1em;
    margin: 24px 0;
    font-size: 20px;
    font-weight: normal;
  }
  .menu li:last-child {
    margin: 24px 0;
  }
  .menu a.current::after {
    left: -12px;
    top: calc(50% - 2px);
  }
  .menu__bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #acacac;
    opacity: 0.5;
    z-index: 0;
    transition: all 0.2s;
  }
  .footer__part:first-child {
    flex-basis: 100%;
  }
  .footer__part:first-child .footer__part__txt {
    width: 100%;
  }
  .footer__part:nth-of-type(2) {
    border-top: 1px solid #262626;
    flex-basis: 100%;
    padding: 16px 24px;
  }
  .footer .link {
    margin: 16px 0 24px;
  }
  .top-button {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    display: initial;
    position: fixed;
    right: 24px;
    bottom: 24px;
    background: #262626;
    color: #f4f4f4;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@keyframes menu-bar01 {
  0% {
    transform: translateY(9px) rotate(25deg);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu-bar02 {
  0% {
    transform: translateY(-9px) rotate(-25deg);
  }
  50% {
    transform: translateY(-9px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(9px) rotate(0);
  }
  100% {
    transform: translateY(9px) rotate(25deg);
  }
}
@keyframes active-menu-bar02 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-9px) rotate(0);
  }
  100% {
    transform: translateY(-9px) rotate(-25deg);
  }
}
