.top {
  margin: 0 auto;
  height: calc(100vh - 120px);
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 16px 0;
}
.content {
  margin: 32px 0;
}
.content__tag {
  letter-spacing: 0.2em;
  border-bottom: 1px solid #000;
}
.content__ttl {
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .top {
    margin: 0 16px;
  }
  .top__img {
    width: 50%;
  }
  .main {
    margin: 0 16px;
  }
}
