.page {
  max-width: 1120px;
  margin: 0 auto;
  padding: 16px 0;
}
.page__ttl {
  text-align: center;
  margin: 220px auto 96px;
}
.page__ttl .en {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.page__ttl .jp {
  font-size: 28px;
}
.page__tag {
  letter-spacing: 0.2em;
  border-bottom: 1px solid #262626;
}
.page h3 {
  font-size: 24px;
  line-height: 1.6em;
}
.page h4 {
  line-height: 1.4em;
}
.page p {
  text-align: justify;
}
.page .group {
  margin-bottom: 120px;
}
.page .group .link {
  background: #f4f4f4;
}
.page.project .program {
  display: flex;
  justify-content: space-between;
}
.page.project .program__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc((1120px - 32px)/2 - 80px);
  border: 1px solid #262626;
  border-radius: 4px;
  padding: 40px;
  margin-top: 24px;
}
.page.project .program__item h4 {
  margin: 0 0 24px;
  font-size: 20px;
}
.page.project .program__item a {
  margin-top: 16px;
}
.page.project .program .link {
  margin-bottom: 0;
}
.page.project .ok-ideas {
  padding: 0;
}
.page.project .ok-ideas li {
  padding: 12px;
  border: 1px solid #262626;
  border-radius: 4px;
  list-style: none;
  margin: 16px 0;
}
.page.project .ng-ideas {
  padding: 8px 0 8px 24px;
}
.page.project .ng-ideas li {
  list-style: none;
  margin: 8px 0;
  position: relative;
}
.page.project .ng-ideas li::before,
.page.project .ng-ideas li::after {
  content: '';
  display: block;
  position: absolute;
  top: 9.2px;
  left: -24px;
  height: 1px;
  width: 14px;
  background: #262626;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.page.project .ng-ideas li::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.page.project .projects-list {
  padding: 0 0 0 24px;
}
.page.environment .group {
  margin-bottom: 48px;
}
.page.environment .group:last-child {
  margin-bottom: 120px;
}
.page.environment h4 {
  font-weight: bold;
  font-size: 12px;
  margin: 36px 0 8px;
}
.page.access .guide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.page.access .guide img {
  width: calc( (1120px - 64px) /3);
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .page {
    margin: 0 24px;
  }
  .page.project .program {
    flex-direction: column;
  }
  .page.project .program__item {
    border-radius: 8px;
    width: calc(100% - 80px);
  }
  .page.environment h4 {
    margin: 16px 0 8px;
  }
  .page.access .guide img {
    width: calc((100% - 16px) / 2);
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 480px) {
  .page {
    margin: 0;
  }
  .page__ttl {
    margin: 96px auto 48px;
    background: #f4f4f4;
    padding: 32px 24px;
    text-align: left;
  }
  .page__ttl .en {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .page__ttl .jp {
    margin-top: 8px;
    font-size: 20px;
  }
  .page .group {
    padding: 0 24px;
  }
  .page.project .program__item {
    border-radius: 4px;
    padding: 48px 24px;
    width: calc(100% - 48px);
  }
  .page.project .ok-ideas li {
    font-size: 12px;
  }
  .page.project .ng-ideas li {
    font-size: 12px;
  }
  .page.project .projects-list {
    padding: 16px 0 16px 24px;
  }
  .page.environment h3 {
    margin: 8px 0;
  }
  .page.access .link {
    margin: 16px 0;
  }
  .page.access .guide img {
    width: 100%;
    margin-bottom: 24px;
  }
}
