footer.footer-container
    .top-button#top-button ↑
    .footer
        .footer__part
            span CONTACT
            .footer__part__txt
                h3 メーリングリスト
                p 本郷テックガレージに関する
                p 最新情報をお届けしています。
                button.link 登録はこちら >
            .footer__part__txt
                h3 お問い合わせ
                p 質問・相談などはこちらまで
                p ご連絡ください。
                button.link お問い合わせフォームへ  >
        .footer__part
            span ACCESS
            .footer__part__txt
                h3 アクセス
                p 〒113-0033
                p 東京都文京区本郷5-24-5 ナガセ本郷ビル 2F 
                button.link 詳しくはこちら  >
        .copyright © hongotechgarage
script(type="text/javascript" src="assets/js/index.js")
script(type="text/javascript" src="assets/js/pjax.js")
