header.header
  a(href="/")
    img.logo(src="../assets/img/logo.png")

  a.menu-trigger#menu-trigger(href="#" )
    span
    span

  ul.menu#menu
    li 
      a(href="../") TOP
    li
      a(href="../project") PROJECT
    li 
      a(href="../environment") ENVIRONMENT
    li 
      a(href="../access") ACCESS
  