meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(hid="description" name="description" content="東京大学本郷テックガレージの紹介です。")
meta(hid='og:site_name' property='og:site_name' content='東京大学本郷テックガレージ')
meta(hid='og:type' property='og:type' content='website')
meta(hid='og:url' property='og:url' content='https://2020.todaitotexas.com/')
meta(hid='og:title' property='og:title' content='東京大学本郷テックガレージ')
meta(hid='og:description' property='og:description' content='東京大学本郷テックガレージの紹介です。')
meta(hid='og:image' property='og:image' content='/assets/img/ogp.jpg')
link(rel="stylesheet" href="/assets/css/common.css")
link(rel="canonical" href="https://charon616.github.io/garage-raw-web/")
link(rel="icon" type="image/x-icon" href="/assets/img/icon.ico")
link(rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png")
title 東京大学 本郷テックガレージ