doctype html
html(lang="ja")
  head
    include ./_head
    title HONGO TECH GARAGE | PAGE
  body
    include ./_header
 
    #barba-wrapper
      .barba-container
        main.page.md
          .page__ttl
            h1.jp
              block title
                span ここがタイトル
          .group
            block content
              div ここがコンテンツ
    include ./_footer