footer.footer-container
    .footer
        h2 ACCESS
        h2.content__ttl 学生の利用に関して
        p 本郷テックガレージは、プロジェクトを行う学生のための施設です。もし利用したい場合はプロジェクト申請を行ってください。メンバーでない方のご利用はご遠慮願っています。
        p また社会人の皆様のご利用、ご見学はかたくお断りしています。