header.header
  img(src="./assets/logo.png")

  ul.menu
    li 
      a(href="") HOME
    li
      a(href="/project") PROJECT
    li 
      a(href="/environment") ENVIRONMENT
    li 
      a(href="/access") ACCESS