doctype html
html(lang="ja")
  head
    include _component/_head
    title HONGO TECH GARAGE | 404
  body
    include _component/_header

    #barba-wrapper
      .barba-container
        main.page.error
          .page__ttl
              h1.en Error 404
          .group
            a.link(href="/" ) TOPへ戻る
          
    include _component/_footer