doctype html
html(lang="ja")
  head
    include _component/_head
    title HONGO TECH GARAGE | ACCESS
  body
    include _component/_header

    #barba-wrapper
      .barba-container
        main.page.access
          .page__ttl
              h2.en ACCESS
              h1.jp 入退館にあたって
          .group
            p 東京都文京区本郷5-24-5 ナガセ本郷ビル 2F 
            a.link(href="https://goo.gl/maps/jweyFvu4e7q" rel="noopener" target="_blank") Google Maps >
            p 平日19時まではナガセ本郷ビルの正門（本郷通り側）からお入りいただけます。
          .group
            h3 平日19時以降・休日の入館
            p 懐徳門側からのみ入館できます。

            .guide
              img(src="/assets/img/access/access-1.png")
              img(src="/assets/img/access/access-2.png")
              img(src="/assets/img/access/access-3.png")
              img(src="/assets/img/access/access-4.png")
              img(src="/assets/img/access/access-5.png")
              img(src="/assets/img/access/access-6.png")
          .group
            h3 平日19時以降・休日の退館
            .guide
              img(src="/assets/img/access/access-7.png")
    include _component/_footer