doctype html
html(lang="ja")
  head
    include _component/_head
    title HONGO TECH GARAGE | ENVIRONMENT
  body
    include _component/_header

    #barba-wrapper
      .barba-container

        main.page.environment
          .page__ttl
              h2.en ENVIRONMENT
              h1.jp 活動する環境について
          .group
            h3 サービス
            p フリードリンク / 無料 WiFi / 技術書貸し出し / 撮影機材貸し出し / 郵送物受け取り / 勉強会・イベント開催 （申請制） / 技術アドバイザーとの相談会
          .group
            h3 ソフトウェア開発支援 （共有PC等）
            p CAD用 PC （Quadro M6000） / 機械学習用 PC （Titan X Pascal × 3枚 + Core i9 + 64GB） / VR用 PC （GeForce GTX 1060 + GTX 760） / VR用機材貸し出し （Oculus Quest2 / HTC Vive Pro Eye / Microsoft HoloLens） / Mac mini / ディスプレイ （セカンドモニタ） 多数 / クラウド環境のクレジット
          .group
            h3 ハードウェア開発支援 （工作機械等）
            h4 3Dプリンタ
            p Form 2 × 1 （後処理機器：Form Wash × 1、Form Cure × 1） / UP 300 × 1 / UP Box+ × 2
            h4 レーザーカッター
            p UNIVERSAL VLS4.60 30W × １
            h4 ロボットアーム
            p DOBOT Magician × 2
            h4 CNCフライス
            p SR420 × 2（片方は基板加工専用）
            h4 電子工作ゾーン
            p ステーションタイプはんだこて / オシロスコープ / ロジックアナライザ / 直流安定化電源 / リフロー炉 / 実体顕微鏡
            h4 その他工作機材・工具類
            p ボール盤 / 旋盤 / 糸のこ盤 / バンドソー / 卓上ベンダー / 卓上手動パンチプレス （ORIGINALMIND GOIGOI） / 手動射出成形機 / バレル型研磨機 / ロータリーツール / 超音波クリーナー / 超音波カッター / 超音波溶着器 / 電動ドリルドライバー / 発泡スチロールカッター / ヒートガン / ホットグルーガン / ミシン / アイロン / ドライバー / 金鋸 / ヤスリ / レンチ / ノギス / キリ / 彫刻刀 / 消耗品類 （ネジ、抵抗等） / マイコン類 （Arduino、M5Stack、Raspberry Pi等）

    include _component/_footer