doctype html
html(lang="ja")
  head
    include _component/_head
    link(rel="stylesheet" href="/assets/css/page.css")
  body
    include _component/_header
    main.page
      h2.page__ttl ENVIRONMENT
      h3 アメニティ
      ul 
        li フリードリンク
        li 無料 Wifi
        li コーヒーマシン
        li 書籍
      h3 議論用の環境
      ul
        li 議論用の環境
        li ポストイット
        li ホワイトボード x 9
      h3 その他
      ul 
        li 各種技術書
      h3 サービス
      ul 
        li 工作機械利用講習
        li 勉強会開催場所提供（一部）
        li 荷物受け取り代行
        li 共有技術書購入
        li チームメンバー募集協力
      h3 機材と工作機械
      ul  
        li PC 環境
        li ディスプレイ
        li 34 インチ x 2
        li 30 インチ x 1
        li 27 インチ x 1
        li 24 インチ x 6
        li 21 インチ x 2
        li 共用 PC
        li CAD 用 PC (Quadro M6000)
        li VR 用 PC (GeForce GTX 1060 + GTX 760)
        li 機械学習用 PC (Titan X Pascal x 3 枚 + Core i9 + 64GB)
        li 汎用 PC (Titan X Pascal + Ryzen + 32GB)
        li VR 用
        li HTC Vive
        li HoloLens
        li FOVE
        li 3D Printer
        li UP Plus2　× 1台
        li Up Box+ x 2台
        li Form2 x 1台
        li レーザーカッター
        li UNIVERSAL VLS4.60 30W　×１台
        li CNCフライス
        li SR420　×2台
        li 片方は基板加工専用
        li ボール盤
        li RYOBI TB-1131K　×１台
        li 旋盤
        li Mr.Meister 万能精密旋盤 Compact7　×１台
        li 糸のこ盤
        li RYOBI TFE-450　×１台
        li バンドソー
        li RYOBI TBS-80　×１台
        li 卓上ベンダー
        li ORIGINALMIND Bender Black 30　×１台
        li 卓上手動パンチプレス
        li ORIGINALMIND GOIGOI　×１台
        li そのほか
        li はんだごて、電工道具
        li 手工具（ドライバー、金鋸など）
        li ドリルドライバ
        li 3Dプリント後処理道具
        li などなど他にも
        p ※利用には講習を受ける必要があります。




    include _component/_footer