doctype html
html(lang="ja")
  head
    include _component/_head
    title HONGO TECH GARAGE | 本郷テックガレージ
  body
    include _component/_header
    #barba-wrapper
      .barba-container

        .top
          h1 HONGO TECH GARAGE
          img.top__img(src="/assets/img/main-img.png")
          .top__txt
            p 本郷テックガレージは東京大学の学生が技術的なサイドプロジェクトを行うための秘密基地です。
            p 東京大学産学協創推進本部の下部組織として、学外に開発のスペースを用意しています。
        main.main
          .content
            span.content__tag POLICY
            h2.content__ttl 学生の利用に関して
            p 本郷テックガレージは、プロジェクトを行う学生のための施設です。利用したい場合はプロジェクト申請を行ってください。
            p メンバーではない方のご利用はご遠慮ください。
            br
            p 社会人の皆様のご利用、ご見学はかたくお断りしています。
          a.content(href="project")
            span.content__tag PROJECT
            h2.content__ttl 募集するプロジェクトについて
            p 本郷テックガレージでは、逆張りのアイデアをもとにした、ソフトウェアやハードウェアを作る技術プロジェクトを募集しています。
            button.link MORE INFO >
          a.content(href="project")
            span.content__tag ENVIRONMENT
            h2.content__ttl 活動する環境について
            p ソフトウェア開発支援 (共有PC等)、ハードウェア開発支援 (工作機械等)、フリードリンク、無料 WiFiなどを提供します。
            button.link MORE INFO >
    include _component/_footer