
doctype html
html(lang="ja")
  head
    include _component/_head
    //- link(rel="stylesheet" href="/assets/css/page.css")
  body
    include _component/_header

    #barba-wrapper
      .barba-container
        main.page
          .page__ttl
            h2.jp Title
          .group
            p markdown
            include:markdown-it ./_pages/hoge.md

    include _component/_footer