doctype html
html(lang="ja")
  head
    include component/_head
    link(rel="stylesheet" href="css/page.css")
  body
    include component/_header
    main.main
      h2 page
    include component/_footer