doctype html
html(lang="ja")
  head
    include _component/_head
    title HONGO TECH GARAGE | PROJECT
  body
    include _component/_header

    #barba-wrapper
      .barba-container
        main.page.project
          .page__ttl
            h2.en PROJECT
            h1.jp 募集するプロジェクトについて
          .group
            h3 技術プロジェクトの新規応募を受付中
            p 本郷テックガレージでは、誰かの課題を解決する技術系プロジェクトの応募を受け付けています。
            p 承認が降りた場合、支援金や工作機械、作業場所、クラウド環境が利用可能になります。
            //- p ２種類のプログラムを用意しています。
            p ※ すでに起業しているチームは応募できません
            .program
              //- .program__item
              //-   h4 Project Fund
              //-   .program__item__txt
              //-     p 常時募集している、約一ヶ月間のプログラムです。
              //-     br
              //-     p 四万円までの支援金を使って、ある程度アイデアが定まった技術的なプロジェクトを進めていただけます。期間中のピボット（方向転換）も許可しています。
              //-     br
              //-     p 新型コロナウイルス感染症防止のため、募集を停止しています。
              //-     p 再開は未定です。
              //-   a.link.stop Project Fund 申請フォーム  >
              .program__item
                h4.spacing Summer / Spring Founders Program（SFP）
                .program__item__txt
                  p 夏休みと春休みに行われる、数十万円を支援するプログラムとして SFP を設けています。開発からデプロイまでを実施いただきます。
                  br
                  p 夏休み前と春休み前に、産学協創推進本部の Web ページで募集しています。
                  br
                  p Project Fund に採択されたプロジェクトも SFP に応募いただけます。
                a.link(href="http://www.ducr.u-tokyo.ac.jp/activity/venture/sfp.html" rel="noopener" target="_blank") 産学協創推進本部のページ >
          .group
            h3 アイデアを考える際に
            p 本郷テックガレージでは以下のようなアイデアを支援したいと考えています。
            ul.ok-ideas
              li たくさんのユーザーがほどほどに好きなアイデアよりも、ほんの少しのユーザーが深く愛してくれるようなアイデア（自分がとても欲しいものも含む）
              li 自分の身近な人や自分の困り事を解決するようなもの
              li これまでできなかったけれど、今ならできるアイデア
              li まっとうなアイデアよりも、聞いたことも見たこともないアイデア
              li これまでと違う差別化や新規性のあるもの
              li 世間の流行りから少し離れた、新しい領域への挑戦
            p 以下のようなアイデアは本郷テックガレージの支援の範疇ではありません。
            ul.ng-ideas
              li 顧客の存在しないメディアアート
              li 想像上のユーザーの、想像上のニーズに基づくプロダクト
              li テクノロジの関わらないサービス
              li ビジネス主体のプロダクト
            p つまり、まだ誰も信じていない、自分だけが知っている秘密に基づくアイデアをお待ちしています。
          .group
            h3 過去のプロジェクト
            p 本郷テックガレージでは以下のようなプロジェクトを支援してきました。以下はほんの一例ですが、プロジェクト応募の際の参考にしてください。
            br
            ul.projects-list
              li 三次元骨格推定による体格を考慮した筋トレ比較アプリ
              li スライダーを動かすだけで思い通りにデザインできるアプリ
              li フィギュアスケートの練習中に、自分の動きを確認できるシステム
              li 通常の筋トレマシンを可変抵抗の筋トレマシンに変える機器
              li さまざまなルールに対応可能な牌譜検討サービス
              li マスク型インタフェース
              li より安全で便利な自動車のナビゲーションシステム
              li 緊急車両のサイレン音を検知し、ユーザに知らせるデバイス
              li 3Dプリント技術を用いて自然木を建材に活用する建築支援システム
              li 毛細血管の画像から健康を管理するデバイス
              li 超音波帯域でのコミュニケーションを可能とする電気咽頭
              li 音楽ライブ配信において観客の反応を演奏者に伝えるシステム
              li SPIKEプライムの自由度を拡張するセンサ
              li 三次元骨格推定による筋トレフォームの比較アプリ
              li オーバーパースに関するデザイン支援ツールの開発
              li 複数の論文の読みやすい順序を推薦するサービス
              li 走行速度に応じて電車の走行音が鳴る自転車
              li 機械化されたトレーニングチューブ
              li かけっこ指導チャットボット
              li Wi-Fi電波の反射量から屋内の混雑を検知し提示する
              li 海洋データ収集・解析システム、デバイス
              li 360度映像から自動構築されるVR探訪アプリケーション
              li 機械学習をノーコードで触れるプラットフォーム
              li 筋トレの種類と回数を自動で判別・記録するデバイス
              li AirPods Proによる姿勢推定を用いたアプリケーション
              li 差別発言を除去するメディア向けコメントプラグイン
              li 感染症対策のための室の換気、利用状態を提案するウェブアプリ
              li 画像認識によるテニスの計測&解析アプリ
              li 日本での栽培実績が少なく生育が困難とされる希少野菜の栽培装置
              li 心肺運動負荷試験のAI解析ソフト
              li 料理レシピの自動生成器
              li アイデア共有のための誰でも使える3DCGアニメ作成ツール
              li スポーツの上達を支援する身近な新ウェアラブルデバイス
              li 自己学習CPU搭載のオンラインボードゲームプラットフォーム
              li 人肌くらいの温度を相互にやりとりするデバイス
              li 物質・溶液の塩味を計測します
              li キャンパス内で不用品を取引するためのWebサイト
              li 窓のない部屋に太陽光を再現するスタンドライト
              li グループ旅行のAI幹事
              li 尿糖値をセンシングするトイレ
              li 楽団の練術を効率化するアプリ
              li 部屋の中の電磁波を発信しているデバイスを高速に発見するマシン
              li 論文・研究者・研究室を同じ次元で評価・比較できるWEB拡張機能
              li 鉄スクラップの自動分類・不純物検出アプリ
              li 普段は上着として着用できる服を展開するとハンモックになります
              li 会社内の人間関係を活性化するslack連携アプリ
              li 落ちた心機能を心臓の外からアシストする機器
              li 太陽光を主力電源化しモビリティを脱炭素化するEV充放電システム
              li Wireless powered pacemaker
              li 自動で角棒に穴あけします
              li ロック機能付きの収納スペースが付属した椅子型デバイス
              li タブ管理支援ツール
              li 室内でも使えるARナビゲーション
              li 茶の湯の心を宿した全自動茶道ロボット
              li ニューラル物理シミュレーションモデル
              li 絵文字キーボードデバイス
              li ボクシングのパンチミット打ちを受けるマシン
              li 複数種類のスパイスを自動でブレンドしてくれるマシン
              li 音情報を触覚情報に伝えて使用する聴覚障害者スポーツ支援デバイス
              li 受粉ロボット
              li ボクシングトレーナーロボット
              li 食道発声の患者様を支援するデバイス
              li 布でできた身につけられる手書き入力デバイス
              li 動物行動戦略に着想を得たロボット制御アルゴリズム
              li 声を文字に起こす際に、内容以外のトーンなどの情報を視覚的に付加
              li AR/VR環境での指操作の際に振動で接触感を提示するデバイス
              li 超高齢化社会におけるパーソナルモビリティのための自動運転技術
              li 視線を検出し、視線方向の音を増幅する補聴器
              li プロではない卓球選手でも戦術分析ができる自動分析ツール
              li 黒板に貼り付けて指示を出すだけで自動で板書を消すロボット
              li CARS-αで回収したCO2を取り出す為の装置
              li いつでも、どこでも、誰でも、セッションができるアプリ
              li 初音ミクと一緒に暮らせるアプリやデバイス
              li 本郷杯、クィディッチゲーム
              li いちごの自動栽培収穫機
              li ディスプレイ付きスケートボード
              li 炊飯器をIoT化するキット
              li メカデザ×機械学習で混雑現象をコントロールする技術
              li ARで視覚をハックし、食事体験を変える。
              li 指キーボード
              li ロードバイク用のウインカーやブレーキランプの付いたリアライト
              li 学内限定SNS
              li 絶対に倒れない自転車
              li 家でもフィットネス、トレーニング変化の見える化
              li 研究分野の流れで重要な論文を系統樹的に可視化するツール
              li マンガの超高精度な自動翻訳技術
              li アルゴリズムによる、デートコース自動作成アプリ
              li エンジニアがお互いを切磋琢磨できるプラットフォーム
              li ハンズフリー自動追従タブレットスタンド
              li グルメのSNSコミュニティ
              li アメリカミズアブの小型飼育装置兼生ゴミ分解装置
              li 夏の酷暑対策のための建築工学的に設計された持ち運べる日陰
              li ちょっと未来のメルヘンな「動く食器」のシリーズ
              li スーパーの安売りを考慮できるレシピ検索エンジン
              li 立替計算をラクにするアプリケーション
              li ジェスチャーで操作するキッチンタイマーで時間
              li 室内失くし物発見器
              li 目をUIとした電子書籍の開発
              li 画像認識による読唇術により、口パクでビデオチャットを実現
              li 時系列信号の学習・推論を行うエッジデバイス
              li 統計表を表として認識しOCRにかけるプログラム
              li 軽い会話からオススメの料理をレコメンドするAI
              li ドローンが安全かつ正確に離着陸できるシステム
              li キック力増強シューズ
              li リップスティック型猫耳USB
              li ウェアラブル友達
              li ESSスピーチ評価プラットフォーム
              li カフェ用ドローン
              li 服を畳んでくれるハンガー
              li 手で持たずにスマホ
              li ナビゲーション靴ひも
              li わたあめ作成ロボット
              li 長距離を航続可能な一人乗り空中ビークル
              li 会話記憶アプリ
              li 声を出さずにメモできるマスク
              li 深層学習を使った、特定の音を抽出、または抑制できるシステム
              li 野球のピッチング動作を解析するアプリケーション
              li 匂いを発するネックレスで行動誘発
              li 電気に「触れる」直感的なテスタ
              li 個人に最適化されたランチの事前決済サービス
              li 自宅でできる、楽器用のカラオケ基礎練習アプリ
              li 飲食店とお客さんをリアルタイムで繋げるプラットフォーム
              li スマートコントラクトを使った遅刻防止アプリ
              li ジオフェンスを使った遅刻防止アプリ
              li リアルタイム議事録アプリケーション
              li 日本語音声データ書き起こしのためのAI補助付きエディタ
              li ロボット用のハードウェア組み立てをコード記述するフレームワーク
              li 就職までのプロセスを豊かに変えるポートフォリオ作成サービス
              li VR/AR環境下でのCAD向け入力デバイス
              li 建築3Dプリンティングのための自走式ロボットと素材開発
              li 自律運転向け画像の処理 （悪天候フィルタリング）
              li 獣医向けのMR解剖a図
              li 3Dスケルトンでフォーム確認できるスマホアプリ
              li VIVE を使った直感的なロボット操作デバイス
              li 川魚の川上からの追跡ロボット
              li 市民の声を市に届けるアプリ
              li ブロックチェーンを使ったスポーツチーム応援プラットフォーム
              li 補聴器向け深層学習を利用したアルゴリズム開発
              li 片耳難聴者向けの補聴器デバイス
              li 音声の収拾と解析プラットフォーム
              li 盲目者向けのソーシャルネットワークアプリ
              li 機械学習を用いた髪型のリコメンドアプリ
              li 健康診断支援機能付きの歯磨きデバイス
              li 朝の目覚めを良くするデバイス
              li 月面探査の疑似体験環境
              li 計算的弾性体を社会実装するためのプラットフォーム
              li 鰹節を自宅で削る文化を現代に復活させるための鰹節削り器のリデザイン
              li コンポーネント化されたカスタマイズ可能な六脚のロボット
              li 周囲の環境情報をセンシングして出力オブジェクトにリアルタイムに反映する3Dプリンターの開発
              li 環境構築不要、インターネット接続不要、プログラミング言語習得不要な、初心者にとことん優しいハードウェア開発ボード
              li 肺の病変がいつ癌性になるかを正確に決定するアルゴリズムの開発
              li ハード設計する人の効率を上げる専用マウス
              li スマホ搭載センサを用いたピッチングフォームの解析アプリ
              li 「猫背になると猫になる」猫背改善デバイス
              li 深層学習を用いて、顔写真を入力したら似顔絵を出力するwebアプリ
              li 3Dプリンタを用いた高機能素材を作るソフトウェア開発
              li 既存のビジュアルプログラミング言語で開発したシンセサイザ/エフェクタを、高位合成エンジンによって全自動でFPGA実装し、ハードウェアで動作させる
              li 超音波による位置測定
              li スマートフォンアプリ開発の際にパラメータ化しにくいもの（UX、例えばゲームの「難しさ」など）の調節を行うロボットとサーバ用スクリプト
              li 入力音声をあらゆる人の声に変換できるソフトウェアの開発
              li オンラインで棋譜解析を行うサービスの作成
              li 立つタイミングを提示してくれるサーフボード
              li 素材が透明に見える溶液の開発
              li 抽象的な動きを三次元的に可視化によるスポーツトレーニングにおけるフォームの確認や伝達
              li 目が不自由な方の食事をサポートする「スマート机」
              li 高出力レーザーを差動二輪自律ロボットに載せることにより携帯可能＆大きいものが切れるレーザーカッター
              li 動きの記録を表現できるウェア
              li ホワイトボードの読み込み＆書き込みロボット
              li 水と“触れられる”立体映像を使ったエンタメシステム
              li 吃音体験デバイス
              li 検索を行える指輪型デバイス
              li コミュニケーションをファシリテートするボット
              li 様々なデバイスの操作を行える笛型デバイス
              li 研究成果を活かしたセンサネットワークの Arduino 実装
              li 新しい測定法を用いた距離メーター
              li パーソナルモビリティを意識した新しいサスペンション機構
    include _component/_footer