doctype html
html(lang="ja")
  head
    include _component/_head
  body
    include _component/_header

    main.main
        .content
            .btn
                a(href="after.html") after
                #barba-wrapper
                    .barba-container
                        p 変わる前

    include _component/_footer